html
    head
    body
        h1 Cucumber Project

        each feature in features
            h1= feature.name
            p= feature.description
            
            div
                h2 Scenarios
                each scenario in feature.scenarios
                    h3= scenario.name
                    blockquote 
                        p= scenario.description
                        each step in scenario.steps
                            p
                                span.keyword= step.keyword
                                span= step.text

            div.tags
                each tag in feature.tags
                    span.tag= tag